<% resource.role ||= params[:role] %>
<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3>Cadastrar <%= I18n.t("activerecord.kinds.role.#{resource.role}")%></h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>
    </div>
    <% if resource.role.to_s.inquiry.company? %>
      <div class="form-group">
        <%= f.label :cnpj, 'CNPJ' %>
        <%= f.text_field :cnpj, class: 'form-control' %>
      </div>
    <% else %>
      <div class="form-group">
        <%= f.label :crmv, 'CRMV' %>
        <%= f.text_field :crmv, class: 'form-control' %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
      <%= f.hidden_field :role %>
     <%= f.submit 'Cadastrar', :class => 'button right' %>
  <% end %>
</div>
