<td><%= link_to user.name, user if user.name %></td>
<td><%= link_to user.address, user if user.address %></td>
<td><%= link_to user.phone, user if user.phone %></td>
<td><%= link_to user.cnpj, user if user.cnpj %></td>
<td><%= link_to user.crmv, user if user.crmv %></td>
<td><%= link_to user.role, user if user.role %></td>
<td><%= link_to user.email, user if user.email %></td>
