<div class="container">
  <div class="row">
    <h3>Usuários</h3>
    <div class="column">
      <table class="table">
        <thead>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>CNPJ</th>
            <th>CRMV</th>
            <th>Tipo</th>
            <th>E-mail</th>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
