<h3>Usuário cadastrado</h3>
<p><b>Nome:</b> <%= @user.name if @user.name %></p>
<p><b>Endereço:</b> <%= @user.address if @user.address %></p>
<p><b>Telefone:</b> <%= @user.phone if @user.phone %></p>
<p><b>CNPJ:</b> <%= @user.cnpj if @user.cnpj %></p>
<p><b>CRMV:</b> <%= @user.crmv if @user.crmv %></p>
<p><b>Tipo:</b> <%= @user.role if @user.role %></p>
<p><b>Email:</b> <%= @user.email if @user.email %></p>
