<% if user_signed_in? %>
  <li><%= link_to 'Usuários Cadastrados', users_path %></li>
  <li><%= link_to 'Editar conta', edit_user_registration_path %></li>
  <li><%= link_to 'Sair', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Entrar', new_user_session_path %></li>
  <li><%= link_to 'Cadastrar: Sou Veterinário', new_user_registration_path(role: 'veterinary') %></li>
  <li><%= link_to 'Cadastrar: Sou Empresa', new_user_registration_path(role: 'company') %></li>
<% end %>
